/* Circular Progress CSS */
.progress-circular {
  @apply rounded-full border-0 overflow-hidden;
  appearance: none;
}

.progress-circular::-webkit-progress-bar {
  @apply bg-transparent;
}

.progress-circular:indeterminate {
  @apply animate-spin; /* Assuming you want a spin effect */
  animation: nds-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

/* Include keyframes for animation if needed */
@keyframes nds-progress-circular {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
