@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dana-regular: 'Dana Regular', sans-serif;
  --font-dana-thin: 'Dana Thin', sans-serif;
  --font-dana-light: 'Dana Light', sans-serif;
  --font-dana-medium: 'Dana Medium', sans-serif;
  --font-dana-extrabold: 'Dana ExtraBold', sans-serif;
  --font-dana-extralight: 'Dana ExtraLight', sans-serif;
  --font-dana-bold: 'Dana Bold', sans-serif;
  --font-dana-black: 'Dana Black', sans-serif;
  --font-dana-demibold: 'Dana DemiBold', sans-serif;
}
body {
  font-family: var(--font-dana-regular);
  direction: rtl;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-dana-bold) !important;
}

p,
span,
link,
div {
  font-family: var(--font-dana-regular) !important;
}
.background-linear-gradient {
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dcfff9 20.24%,
    #f7f8fc 46.2%,
    #c4faf1 64.84%,
    #ffffff 81.36%,
    #fcffef 93.67%
  );
}
