@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dana-regular: 'Dana Regular', sans-serif;
  --font-dana-thin: 'Dana Thin', sans-serif;
  --font-dana-light: 'Dana Light', sans-serif;
  --font-dana-medium: 'Dana Medium', sans-serif;
  --font-dana-extrabold: 'Dana ExtraBold', sans-serif;
  --font-dana-extralight: 'Dana ExtraLight', sans-serif;
  --font-dana-bold: 'Dana Bold', sans-serif;
  --font-dana-black: 'Dana Black', sans-serif;
  --font-dana-demibold: 'Dana DemiBold', sans-serif;
}
body {
  font-family: var(--font-dana-regular);
  direction: rtl;
}
h1,
h2,
h3 {
  font-family: var(--font-dana-bold) !important;
}

p,
span,
link {
  font-family: var(--font-dana-regular) !important;
}
